<div class="box"> <!-- For jquery masonry animations I had a class of masonry-brick in this div ie class="box masonry-brick" taking it out didnt effect anything so I did may need to put it back or elsewhere though -->
	<%= link_to (image_tag pin.image(:medium)), pin %>
	<p class="description">
		<%= pin.description %>
	</p>
	<p>
		<strong>
			Posted by <%= pin.user.name %>
		</strong>
	</p>
	<% if current_user == pin.user %>
		<p>
			<%= link_to 'Edit', edit_pin_path(pin) %>
			<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %>
</div>